@"
node_modules/
Frontend/node_modules/
.angular/
Frontend/.angular/
dist/
Frontend/dist/

target/
Backend/target/
.metadata/
Backend/.metadata/
*.class

.vscode/
.idea/
*.iml
.project
.classpath
.settings/
.factorypath

.env
*.env

.DS_Store
Thumbs.db
"@ | Set-Content .gitignore -Encoding UTF8